frontend/node_modules/
backend/venv/
.env
*.pyc
*.mp3
package-lock.json
backend/config/credentials.json
backend/config/token.json
backend/app/integrations/google/config/credentials.json
backend/app/integrations/google/config/token.json
